<mat-toolbar class="toolbar">{{institution?.name}}</mat-toolbar>

<div fxLayout="row wrap" fxLayoutGap="30px grid" fxLayoutAlign="center center">
  <div *ngFor="let program of programs">
    <mat-card class="card" [routerLink] = "['/programs/' + program.id]">
      <mat-card-header style="height: 50px">
        <mat-card-title>{{program.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="card-image" src="/assets/img/program_default.jpg">
    </mat-card>
  </div>
</div>
