<mat-toolbar>Iniciar Sesión</mat-toolbar>

<mat-card class="example-card">

    <mat-card-header>
        <img class="header-form-img" src="/assets/img/profile_default.jpg">
      </mat-card-header>  

    <mat-card-content>

    <div class="example-container">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Email" type="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput placeholder="Contraseña" type="password">
    </mat-form-field>

    <button mat-raised-button color="accent">Ingresar</button>
  </div>


  </mat-card-content>

</mat-card>