.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .card{
    width: 15em;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 1em; 
    margin-bottom: 1em; 
  }

  .header-form-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 20%;
    height: 20%;
    border-radius: 50%
  }