.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-card{
    margin: 0 auto;
    width: 25%;
  }

  .header-form-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 20%;
    height: 20%;
    border-radius: 50%
  }