<div>
    <mat-card class="card" [routerLink]="['/documents/' + document.id]">
        <div fxLayout="row" fxLayoutGap="20px">
            <img class="doc-thumbnail" src="/assets/img/document_thumbnail.jpg">
            <p style="width: 320px !important;height: 180px !important">
                <b>{{document.name}}</b>
                <mat-chip-list>
                    <mat-chip color="primary" *ngIf="document.type == 'note'">apunte</mat-chip>
                    <mat-chip color="primary" *ngIf="document.type == 'book'">libro</mat-chip>
                    <mat-chip color="primary" *ngIf="document.type == 'test'">control</mat-chip>
                    <mat-chip color="primary" *ngIf="document.type == 'exam'">prueba</mat-chip>
                    <mat-chip color="primary" *ngIf="!document.approved">pendiente</mat-chip>
                    <mat-chip color="primary" *ngIf="document.approved">aprobado</mat-chip>
                </mat-chip-list>
                {{courseInfo.course}}
                <br>
                {{courseInfo.program}}, {{courseInfo.institution}}
                <br>
                {{document.year}}
                <br>
                <span *ngIf="document.rating; else noRating"><mat-icon style="vertical-align: bottom" color="accent">star</mat-icon>{{document?.rating}}</span>
                <ng-template #noRating><span><mat-icon style="vertical-align: bottom" color="accent">star</mat-icon>sin rating</span></ng-template>
                <!-- <star-rating [starType]="'svg'" staticColor="ok" [rating]="document.rating || 3.5"></star-rating> -->
                <br>
                <button *ngIf="isEditable" style="margin-right: 2em" mat-icon-button color="primary" [routerLink]="['/edit-document/' + document.id]"><mat-icon>edit</mat-icon></button>
                <button *ngIf="isEditable" mat-icon-button color="warn" (click)="deleteDoc($event)"><mat-icon>delete</mat-icon></button>
            </p>
        </div>
    </mat-card>
</div>

<ngx-spinner type="timer">
    <p style="color: white"> Eliminando... </p>
</ngx-spinner>