<div>
    <mat-card class="card" [routerLink]="['/documents/' + document.id]">
        <div fxLayout="row" fxLayoutGap="20px">
            <img class="doc-thumbnail" src="/assets/img/document_thumbnail.jpg">
            <p style="width: 300px !important;height: 100px !important">
                <b>{{document.name}}</b>
                <mat-chip-list>
                    <mat-chip color="primary" *ngIf="document.type == 'note'">apunte</mat-chip>
                    <mat-chip color="primary" *ngIf="document.type == 'book'">libro</mat-chip>
                    <mat-chip color="primary" *ngIf="document.type == 'test'">control</mat-chip>
                    <mat-chip color="primary" *ngIf="document.type == 'exam'">prueba</mat-chip>
                    <mat-chip color="primary" *ngIf="!document.approved">pendiente</mat-chip>
                    <mat-chip color="primary" *ngIf="document.approved">aprobado</mat-chip>
                </mat-chip-list>
                <br>
                {{courseInfo.course}}
                <br>
                {{courseInfo.program}}, {{courseInfo.institution}}
                <br>
                {{document.year}}
                <br>
                <!-- <star-rating [starType]="'svg'" staticColor="ok" [rating]="document.rating || 3.5"></star-rating> -->
                <button *ngIf="isEditable" style="margin-right: 2em" mat-stroked-button color="primary" [routerLink]="['/edit-document/' + document.id]">Editar</button>
                <button *ngIf="isEditable" mat-stroked-button color="warn" (click)="deleteDoc($event)">Eliminar</button>
            </p>
        </div>
    </mat-card>
</div>

<ngx-spinner type="timer">
    <p style="color: white"> Eliminando... </p>
</ngx-spinner>