
<mat-card class="card">
  <div fxLayout="row" fxLayoutGap="10px">
      <p>
          <b>{{document?.name}}</b>
          <br>
          {{document?.description}}
          <mat-chip-list>
              <mat-chip color="primary" *ngIf="document.type == 'note'">apunte</mat-chip>
              <mat-chip color="primary" *ngIf="document.type == 'book'">libro</mat-chip>
              <mat-chip color="primary" *ngIf="document.type == 'test'">control</mat-chip>
              <mat-chip color="primary" *ngIf="document.type == 'exam'">prueba</mat-chip>
          </mat-chip-list>
          <br>
          {{courseInfo?.course}}
          <br>
          {{courseInfo?.program}}
          <br>
          {{courseInfo?.institution}}
          <br>
          {{document?.year}}
          <br>
          <mat-chip-list>
              <mat-chip color="primary" *ngFor="let tag of document.tags">{{tag}}</mat-chip>
          </mat-chip-list>
          <span *ngIf="document.rating; else noRating"><mat-icon style="vertical-align: bottom" color="accent">star</mat-icon>{{document?.rating}}</span>
          <ng-template #noRating><span><mat-icon style="vertical-align: bottom" color="accent">star</mat-icon>sin rating</span></ng-template>
          <br><br>
          <button style="width: 130px; text-align: center; margin-right: 1em" mat-stroked-button color="primary" [routerLink]="['']"><mat-icon>save</mat-icon> Guardar</button>
          <button style="width: 130px" mat-stroked-button color="primary" (click)="download()"><mat-icon>cloud_download</mat-icon> Descargar</button>
          <br>
      </p>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div>
            <button mat-icon-button (click)="prev()"> 
              <mat-icon>navigate_before</mat-icon>
            </button>
            <mat-form-field style="width: 1.5em">
              <input matInput [(ngModel)]="page">
            </mat-form-field>
            <span>/ {{numPages}}</span>
            <button mat-icon-button (click)="next()">
              <mat-icon>navigate_next</mat-icon>
            </button>
        </div>
        <pdf-viewer
          [src]="document?.url" 
          [page]="page" 
          [render-text]="true" 
          [show-all]="false"
          style="display: block;"
          (after-load-complete)="callBackFn($event)">
        </pdf-viewer>
      </div>
  </div>
</mat-card>

<ngx-spinner type="timer">
  <p style="color: white"> Descargando... </p>
</ngx-spinner>



<!-- <mat-card class="card">

</mat-card> -->
