<h3 style="margin-left: 1em; margin-top: 1em" class="mat-h3">{{institution?.name}} > {{program?.name}} > {{semester?.name}}</h3>
<div fxLayout="row wrap" fxLayoutGap="30px grid" fxLayoutAlign="center center">
  <div *ngFor="let course of courses">
    <mat-card class="card" [routerLink] = "['/institutions/' + institution?.id + '/programs/' + program?.id + '/semesters/' + semester?.id + '/courses/' + course?.id]">
      <mat-card-header>
        <mat-card-title>{{course?.name}}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
